<% if(errors.length > 0) {%>
    <div class="messages error-messages-back">
        <% errors.forEach(erro =>{ %>
            <p><%= erro %></p><br>
       <% }) %>
    </div>
<% } %>    

<% if(success.length > 0) {%>
    <div class="messages success-messages">
        <% success.forEach(success =>{ %>
            <p><%= success %><p>
       <% }) %>
    </div>
<% } %>    