<%- include('includes/head') %>
<link rel="stylesheet" href="/css/404.css">
<%- include('includes/nav') %>

   <main>
    <div class="title">
        <h1>ERRO 404</h1>
        <p>Ocorreu um erro no sistema :(</p>
    </div>
   </main>

    </body>
</html>